body {margin:0;padding:0;font-size:12px;text-align:center;min-width:1190px;height:100%;overflow-x:hidden;}
ul,li,div,dl,dd,dt,i,b{list-style: none;font-weight:normal;font-style:normal;margin:0;padding:0;}
a{text-decoration:none;color:#333}
.clear{clear:both;}
span{color:#f30}
i{color:#f40;}
b{color:#f40}
.l{float:left;width:200px;}
.r{float:right;width:200px;}
.c{height:100%;width:1192px;margin:0 auto}
.banner{margin:0 0 10px 0;}
/*header*/
.header{height:36px;background:#f5f5f5;padding:0 20px;line-height:36px;}
.header_l,.header_r{float:left;}
.header_r{float:right;}
.header_r a{color:#333;}
.header_r a:hover{color:#f40;}
.header .header_l li,.header .header_r li{float:left;margin:0 10px 0 0;}
.header_l b{margin:0 10px 0 0;}
.sitemobile{width:80px;}
/*nav*/
/*home*/
.home{width:1190px;margin:0 auto;background:#fafafa;min-height:1000px}
.Menus{position:absolute;width:190px;background:#FF6537;height:555px;font:12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;}
.Menus a,.Menus span{color:#fff;padding:0 5px 0 0;}
.menulist{padding:20px;}
.menulist li{height:30px;text-align:left;font-size:13px;margin:0;}
.searchbox,.brandrect{height:100px;padding:30px 0;margin:0 0 0 256px;text-align:left;}
.searchnav{height:25px;}
.searchnav li{float:left;margin:0 5px 0 0;padding:0;cursor:pointer;background:#fff;color:#f40;width:50px;height:25px;line-height:25px;text-align:center;}
.searchnav .s{background:#f40;color:#fff;display:block;}
.search{height:34px;border:4px solid #f40;width:594px;text-align:left;}
#searchinput{width:469px;height:22px;border:none;margin:0;padding:6px 0;text-indent:12px;line-height:22px;outline: 0;}
#searchbtn{width:122px;height:34px;background:#f40;border:none;color:#fff;}
.outText{padding:10px 0;}
.brandrect{clear:both;}
.fuck{float:right;width:200px;
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    overflow: hidden;}
.fade-transition {
    transition: opacity .3s ease;
}

.fade-enter,
.fade-leave {
    opacity: 0;
}
/*user*/
.user{}
/*login*/
.login,.user{height:1000px;padding:10px}
/*footer*/
.footer{clear:both;border-top:2px solid #cc0000;color:#888;width:1190px;margin:0 auto}
.footer div{padding:30px 10px;line-height:25px;}
.footer b{padding:0 5px}